:host{
    --sds-c-textarea-sizing-min-height: 800px;
    --sds-c-card-padding-top: 1px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 18;
    background: var(--slds-g-color-neutral-base-95, var(--hc-neutral-base-95));
    box-shadow: 0px -1px 0px var(--slds-g-color-neutral-base-80, var(--hc-neutral-base-80));
}
